#wrapper {
	background: #fff;
}

/*商品详情*/
#wrapper .commodity {
	width: 980px;
    margin: 20px auto;
    border: 2px solid #ccc;
    border-radius: 10px;
}

#wrapper .commodity img {
	height: 300px;
	margin-top: 40px;
	margin-left: 40px;
}

#wrapper .commodity-detail {
	display: inline-block;
	position: relative;
	left: 40px;
	bottom: 100px;
	margin-left: 30px;
}

#wrapper .commodity-detail p {
	margin-left: 10px;
	margin-top: 8px;
}

/*收藏*/
#wrapper .collect {
	margin-top: -26px;
	margin-bottom: 20px;
}

.collect>a>img {
	height: 20px;
}

.collect a:hover {
	cursor: pointer;
	color: #ffda44;
}