.content {
	width: 1200px;
	margin: 0 auto;
}

/*标题栏*/
.content-title {
	margin-top: 20px;
	margin-left: -182px;
	margin-bottom: 

}
.content-title h1 {
	width: 140px;
	height: 50px;
	margin: 0 auto;
	text-align: center;
	border-radius: 10px;
	background: #ffda44;
}

/*选择商品分类*/
.inputs {
	margin-top: -36px;
}

.input-bar {
	width: 360px;
	height: 18px;
	margin: 20px 440px;

}

.input-bar input {
	height: 30px;
	margin-top: 6px;
	vertical-align: bottom;
}

.input-bar p {
	margin-top: 50px;
	font-size: 18px;
}

/*添加说明*/
.addition {
	width: 400px;
	height: 100px;
	margin-top: 54px;
	margin-left: 440px;
}

.addition textarea {
	width: 300px;
	height: 100px;
}
.addition span {
	margin-left: 100px;
	font-size: 12px;
	color: #ccc;
}

/*发布按钮*/
.submit {
	margin-top: 40px;
	margin-bottom: 20px;
	padding-left: 700px;
}

.submit button {
	width: 100px;
	height: 30px;
	background: #ffda44;
	border:none;
}
