* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 微软雅黑;
	font-size: 14px;
}
#content {
	width: 980px;
	margin-left: 340px;
	margin-top: 300px;
}
#page li {
	display: block;
	padding-right: 2px;
	margin-left: 2px;
	margin-right: 6px;
	float: left;
	text-align: center;
	line-height: 30px;
	border: 1px solid #CCCCCC;
	cursor: pointer;
}
#select {
	width: 28px;
	height: 32px;
	text-align: center;
}
#content .background {
	background: #0099FF;
	color: #FFFFFF;
	border: 1px solid #0099FF;
}
#search {
	width: 30px;
	height: 28px;
}
#btn {
	margin-left: 4px;
	margin-top: 6px;
}