
/* 在窄屏下的布局 */
.top,.nav,.other,.subject,.foot{
	width:960px;
	margin:0 auto;
	// margin-left: 206px;
}

/* 导航区搜索按钮 */
.search-galss{
	margin-right: 0px;
}
/* 轮播图在窄屏下的样式 */
.Banner-main li{
	width:100vw;
	min-width: 1364px;
}
.Banner-main li img{
	min-width: 1364px;
}
.banner-btn{
	left:660px;
}

/* 窄屏下的other */
.other>div{
	width:270px;
	float: left;
}
.other-left{
	margin-left: 0px;
}
.other-center{
	margin-left: 71px;
	margin-right: 77px;
}
.other p{
	width:172px;
}

/* 学科数据展示 */
.subject-left{
	width:736px;
}

/* 照片墙展示 */
.photo-ul ul{
	min-width:1200px;
}
.photo-ul li{
	width:235px;
	margin-right: 5px;
}